<% content_for(:title, t(".title")) %>
<% breadcrumb :root %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <h2 class="col-12 text-center mb-3" style="font-weight: 900;"><%= t('top.index.text') %></h2>
  </div>
  <%= search_form_for @q, url: gyms_path do |f| %>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="input-group">
          <%= f.search_field :name_cont, class: 'form-control', placeholder: 'キーワード' %>
          <button class="btn btn-success" type="submit"><%= t('top.index.search') %></button>
        </div>
      </div>
    </div>
  <% end %>
</div>
