<% content_for(:title, t(".title")) %>
<% breadcrumb :root %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="mb-3">
      <h1 class="col-12 display-4 text-center text-white fw-bold mb-4" style="font-size: 70px">GoGym</h1>
      <h5 class="col-8 lead text-white mb-4 fw-semibold h1-width" style="font-size: 20px">
        あなたのトレーニングライフをサポートするための最適なジムを見つけましょう!<br>
        GoGymは、トレーニングをしている人、始めたい人に向けた、ジム検索サービスです。
      </h5>
    </div>
    <h2 class="col-12 text-center mb-3 text-white fw-semibold"><%= t('top.index.text') %></h2>
  </div>
  <%= search_form_for @q, url: gyms_path, remote: true do |f| %>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div data-controller="autocomplete" data-autocomplete-url-value="/gyms/autocomplete" role="combobox">
          <div class="input-group">
            <%= f.search_field :name_cont, data: { autocomplete_target: 'input' }, class: 'form-control', placeholder: 'ジム名で検索' %>
            <button class="btn btn-success" type="submit"><%= t('top.index.search') %></button>
          </div>
          <ul class="list-group bg-white" data-autocomplete-target="results" hidden></ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
