<div class="row position-relative position-absolute top-50 start-50 translate-middle">
  <h1 class="d-flex justify-content-center"><%= t('.member_registration') %></h1>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">アカウント名</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">メールアドレス</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">パスワード</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="d-grid gap-2 col-4 mx-auto">
      <button type="submit" class="btn btn-success">登録</button>
    </div>
  </form>
</div>
<%= render "shared/footer" %>
