<footer class="fixed-bottom py-2 bg-dark text-white">
  <div class="container">
    <ul class="nav justify-content-center pb-2">
      <li class="nav-item"><a href="#" class="nav-link px-4 text-white">お問い合わせ</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-4 text-white">利用規約</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-4 text-white">プライバシーポリシー</a></li>
    </ul>
    <p class="text-center">Copyright © 2024. GOGYM</p>
  </div>
</footer>
