<header>
  <div class='sticky-top'>
    <nav class='navbar navbar-dark bg-dark' style='height: flex; '>
      <div class="container-fluid">
        <%= link_to root_path,class: 'navbar-brand' do %>
          <span style="color: #227D51; font-size: 30px; font-weight: 900; font-family: Arial; ">GoGym</span>
        <% end %>
        <div class="d-flex">
          <%= link_to t('shared.header.logout'), logout_path, class: "btn btn-outline-light me-2", style: "font-size: 15px;", data: { turbo_method: :delete } %>
        </div>
      </div>
    </nav>
  </div>
</header>
