<header>
  <div class='fixed-top'>
    <nav class='navbar navbar-dark bg-dark' style='height: flex; '>
      <div class="container-fluid">
        <%= link_to root_path,class: 'navbar-brand' do %>
          <span style="color: #227D51; font-size: 30px; font-weight: 900; font-family: Arial; ">GoGym</span>
        <% end %>
        <div class="d-flex">
          <button class="btn btn-outline-light me-2" style="font-size: 15px;">ログイン</button>
          <button class="btn btn-outline-success" style="font-size: 15px;">会員登録</button>
        </div>
      </div>
    </nav>
  </div>
</header>
