<% content_for(:title, @tag.name) %>
<% breadcrumb :tag, @tag %>
<div class="wrapper">
  <%= render "/shared/gym" %>
  <div class="pagination d-flex justify-content-center">
    <%= paginate @gyms %>
  </div>
</div>
