<% content_for(:title, t('gyms.index') ) %>
<div class="wrapper">
  <% if @gyms.blank? %>
    <p><%= t('flash.no_search_result') %></p>
  <% elsif @gyms.present? %>
    <%= render "/shared/gym" %>
  <% else %>
    <p><%= t('flash.no_result') %></p>
  <% end %>
  <div class="pagination d-flex justify-content-center">
    <%= paginate @gyms, theme: 'bootstrap-5', pagination_class: "flex-wrap justify-content-center", nav_class: "d-inline-block btn-success" %>
  </div>
</div>

<style>
  .wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  /*ページネーション自体のデザイン*/
  .pagination>li>a {
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
  }

  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {
    background: #227D51;     /*背景の色を変える*/
    border-radius: 7px;     /*角を丸くする*/
  }

  /*ホバー時のデザイン*/
  .pagination>li>a:hover {
    border-radius: 7px;    /*角を丸くする*/
  }
</style>
