<% content_for(:title, "#{@gym.title}") %>
<div class="container">
  <div class="row position-relative position-absolute top-50 start-50 translate-middle">
    <h1 class="d-flex justify-content-center"><%= @gym.name %></h1>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/420x260">
            </a>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
      <div class="col span-12">
        <nav>
          <div id="navi">
            <ul>
              <li><a href="index.html">店舗情報</a></li>
              <li><a href="subpage.html">写真</a></li>
              <li><a href="subpage.html">口コミ一覧</a></li>
              <li><a href="subpage.html">口コミ投稿</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
