body.top-index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('fitness_center.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-bottom: 50px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

footer {
  flex-shrink: 0;
}

/*星評価のデザイン*/
.average-rating p {
  margin-bottom: 0;
}

.average-rating .stars {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.average-rating .raty img {
  width: 20px; /* アイコンのサイズを調整 */
  height: 20px;
}

/*ページネーション自体のデザイン*/
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination>li>a {
  display: inline-block;
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  font-size: 25px;  /*文字の大きさを大きくする*/
  border-radius: 50%; /*角を完全に丸くする*/
  width: 20px; /*幅を設定*/
  height: 30px; /*高さを設定*/
  line-height: 30px; /*テキストを中央に配置*/
  text-align: center; /* 水平方向の中心配置を追加 */
  text-decoration: none; /* 下線を消す */
}

.pagination>li {
  margin-right: 15px; /*ページ間の間隔を広げる*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #227D51;     /*背景の色を変える*/
  border-radius: 50%;     /*角を丸くする*/
  width: 30px; /*幅を設定*/
  height: 30px; /*高さを設定*/
  line-height: 30px; /*テキストを中央に配置*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 50%;    /*角を丸くする*/
  width: 30px; /*幅を設定*/
  height: 30px; /*高さを設定*/
  line-height: 30px; /*テキストを中央に配置*/
}

/* 口コミ一覧 */
.review-container {
  max-width: 700px; /* 最大幅を700pxに設定 */
  width: 100%; /* 幅を100%に設定して、親要素に合わせて伸縮するようにする */
  margin: auto; /* 左右のマージンを自動で調整して、中央に配置 */
}

.card {
  max-width: 600px;
  width: 100%; /* カードを画面幅いっぱいに広げる */
  max-height: 600px; /* カードの高さを固定 */
}

/* おすすめのジム用のカードに適用するスタイル */
.recommend-card {
  max-width: 18rem;
  margin: auto; /* カードを中央に配置 */
}

.custom-link {
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
}
