<% content_for(:title, "#{@gym.name}") %>
<% breadcrumb :gym_reviews, @gym %>
<div class="wrapper">
  <%= render "shared/flash_message" %>
  <div class="d-flex flex-column mx-auto align-items-center">
    <%= render "/shared/gym_info" %>
    <%= render "/shared/review" %>
    <div class="pagination d-flex justify-content-center">
      <%= paginate @reviews%>
    </div>
  </div>
</div>
