<% content_for(:title, t('locations.index.search')) %>
<div class="d-flex justify-content-center mt-5 mb-5">
  <h1 style="margin-right: 10px;">ジムを地図から探す</h1>
</div>
<div class="d-flex justify-content-center mb-5">
  <div id="map" style="height: 600px; width: 600px;"></div>
</div>

<script>
// ブラウザがGeolocation APIをサポートしているかどうかをチェック
if (navigator.geolocation) {
  // getCurrentPositionメソッドを使用して、ユーザーの現在の位置情報を取得
  navigator.geolocation.getCurrentPosition(function(position) {
    // positionオブジェクトから緯度と経度を取得し、currentPosオブジェクトに格納
    const currentPos = {
      lat: position.coords.latitude,
      lng: position.coords.longitude
    };

    // Google Maps APIを使用して地図を初期化
    // document.getElementById('map')で指定されたHTML要素に地図を表示
    const map = new google.maps.Map(document.getElementById('map'), {
      // 地図の中心をcurrentPosに設定
      center: currentPos,
      // 地図のズームレベルを設定
      zoom: 12,
    });

    // Google Places APIのNearby Searchを使用して周辺のジムを検索
    const service = new google.maps.places.PlacesService(map);
    service.nearbySearch({
      // 検索の中心となる位置を指定
      location: currentPos,
      radius: 5000, // 検索範囲の半径を設定（単位はメートル）
      type: ['gym'] // ジムを検索
    // ジムの検索結果を処理し、地図上にマーカーを作成
    }, function(results, status) {
      // 検索の状態が成功（OK）であるかどうかを確認
      if (status === google.maps.places.PlacesServiceStatus.OK) {
        // 検索結果の数だけループして、各結果に対して処理を行う
        for (let i = 0; i < results.length; i++) {
          createMarker(results[i]); // ジムのマーカーを作成
        }
      }
    });

    // マーカーを作成するための関数
    function createMarker(place) {
      const marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location,
        title: place.name // ジムの名前をマーカーに表示
      });

      // ジムの情報ウィンドウを表示する
      const infowindow = new google.maps.InfoWindow();
      // マーカーがクリックされたときのイベントリスナーを設定
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
    }

  }, function() {
    console.log('現在地の取得に失敗しました。');
  });
} else {
  console.log('このブラウザはGeolocation APIをサポートしていません。');
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap"></script>
