<% content_for(:title, "#{@user.name}") %>
<% breadcrumb :user_show, @user %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="d-flex flex-column align-items-center text-nowrap">
        <h1 class="text-center w-100"><%= @user.name %>のマイページ</h1>
        <%= render "/shared/mypage_info" %>
        <table class="table mx-auto mt-3" style="max-width: 100%;">
          <tbody>
            <tr class="table-secondary">
              <th scope="row" class="text-center">アカウント名</th>
              <td style="background-color: white;"><%= @user.name %></td>
            </tr>
            <tr class="table-secondary">
              <th scope="row" class="text-center">メールアドレス</th>
              <td style="background-color: white;"><%= @user.email %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
